<!DOCTYPE html>
<html>

<head>
  <%- include(`${process.cwd()}/views/Common/Base/head.ejs`, {path: '/Pages/ViewPages/about', title:"About"}) %>
</head>

<body>
    <%- include(`${process.cwd()}/views/Common/Component/Common/header.ejs`) %>
  <main>
    <p><%= pageName %></p>
  </main>
  <%- include(`${process.cwd()}/views/Common/Component/Common/footer.ejs`) %>
  <%- include(`${process.cwd()}/views/Common/Base/foot.ejs`, {path: '/Pages/ViewPages/about'}) %>
</body>

</html>
