<!DOCTYPE html>
<html>

<head>
  <%- include(`${process.cwd()}/views/Common/Base/head.ejs`, {path: 'Pages/Category/list',title:"HOME "}) %>
</head>

<body>
  <%- include(`${process.cwd()}/views/Common/Component/Common/header.ejs`) %>
  <main class="container-fluid">
    <h1 class="list__title">영화 리스트</h1>
    <div>
      <p class="list__title">오늘의 추천영화</p>
    </div>
    <div class="list__movie_row">
      <% movies.map(list => { %>
      <div class="list__movie_box">
       <a href="/<%= pageName %>/detail/<%= list.id %>" class="list__movie_link">
        <div class="list__img_box">
          <img src="https://yts.tl<%= list.medium_cover_image%>" alt="" class="list__img">
        </div>
        <div>
          <%= list.title_long %>
        </div>
        <div>
          <%= list.genres %>
        </div>
       </a>
      </div>
      <% }) %>
    </div>

      <form action="" id="pageForm">
        <button>1</button>
        <button>2</button>
      </form>
  </main>

  <%- include(`${process.cwd()}/views/Common/Component/Common/footer.ejs`, {path: 'Pages/Category/list'}) %>
  <%- include(`${process.cwd()}/views/Common/Base/foot.ejs`, {path: 'Pages/Category/list'}) %>
</body>

</html>
