<!DOCTYPE html>
<html>

<head>
  <%- include(`${process.cwd()}/views/Common/Base/head.ejs`, {path: 'Pages/Category/movie_detail',title:"HOME "}) %>
</head>

<body>
  <%- include(`${process.cwd()}/views/Common/Component/Common/header.ejs`) %>
  <main class="container">
    <!-- SECTION: -->
    <section>      
      <div class="row">
        <div class="detail__slide">
          <% detailSlide.map(slide_list => { %>
          <div class="detail__slide_box">
            <a href="/movie/detail/<%= slide_list.id %>" class="detail__slide_box_an">
              <img src="https://yts.tl<%= slide_list.medium_cover_image %>" alt="" class="detail__slide_box_img">
            </a>
          </div>
          <% }) %>
        </div>
      </div>
    </section>

    <!-- SECTION: -->
    <section>
      <div class="row">
        <div class="col-lg-6">
          <img src="https://yts.tl/<%= movieDetail.large_cover_image %>" alt="">
        </div>
        <div class="col-lg-6">
          <h2 class="detail__movie_title">
            <%= movieDetail.title_long %>
          </h2>
          <div class="detail__movie_info">
            <div class="detail__movie_rating">
              <span>평점:</span>
              <span><%= movieDetail.rating %></span>
            </div>
            <div class="detail__movie_sub_info">
              <span>상영시간: <%= movieDetail.runtime %> 분</span>
              <span>장르: <%= movieDetail.genres %></span>
              <span>언어: <%= movieDetail.language %></span>
              <span>등급: <%= movieDetail.mpa_rating %></span>
            </div>
            <div class="detail__movie_summary">
              <%= movieDetail.description_full %>
            </div>
  
          </div>
        </div>
      </div>
    </section>

    <!-- SECTION:  -->
    <section class="comment">
      <div class="row margin-none">
        <h3 class="detail__comment_title">Comment</h3>
        <div class="comment__box">
          <div class="row">
            <div class="col-lg-2">이쯔녕</div>
            <div class="col-lg-8">이영화 너무 잼있어효 *^^* 이영화 너무 잼있어효 *^^* 이영화 너무 잼있어효 *^^* 이영화 너무 잼있어효 *^^* 이영화 너무 잼있어효 *^^* 이영화 너무 잼있어효 *^^*</div>
            <div class="col-lg-2">2019-10-09</div>
          </div>
          <div class="row">
            <div class="col-lg-12">


              <!-- NOTE: 이렇게 해도 로그인 여부를 확인 할수 있어요 ㅎㅎ  -->
              <!-- app.js 에 app.use안에다가 isLogged를 만들어줬어욯ㅎㅎ -->

              <%if (isLogged) {%>
                Login!!
              <% } else{ %>
                Logout!!
              <% } %>

              <% if(!isLogged){ %>
                <div class="detail__login_box unLogin">
                  <a href="/auth/login">로그인이 필요합니다. 클릭하시면 로그인 페이지로 이동합니다.</a>
                </div>

              <% } else { %>
                <div class="detail__login_box isLogin">
                  <form action="">
                      <input type="text" placeholder="name">
                      <textarea name="" id="" cols="30" rows="10" placeholder="content"></textarea>
                      <button>글쓰기</button>
                  </form>
                </div>
              <% } %>


            </div>
          </div>
        </div>
      </div>
    </section>


  </main>
  <%- include(`${process.cwd()}/views/Common/Component/Common/footer.ejs`) %>
  <%- include(`${process.cwd()}/views/Common/Base/foot.ejs`, {path: 'Pages/Category/movie_detail'}) %>
</body>

</html>